git-checks=false
ignore-workspace-root-check=true
link-workspace-packages=true
# Prevent parallel execution of publish. Since no `--workspace-concurrency`
# option exists for pnpm publish, we're increasing the number from 1 as
# necessary.
workspace-concurrency=1
