### THE PROJECT SPECIFIES #################################################

### Unity ###
# Example scenes
[Aa]ssets/Scenes*

# TextMesh Pro
[Aa]ssets/TextMesh Pro

# UdonSharp
[Aa]ssets/SerializedUdonPrograms*
[Aa]ssets/UdonSharp/PrefabBuild*

# VRChat Creator Companion
[Pp]ackages/com.vrchat.*
[Pp]ackages/dev.*
[Pp]ackages/*.json

# Others
[Pp]roject[Ss]ettings
debug.log*

### Node ###
# Husky
.husky/_

# Ignorefiles
.*ignore

# Pnpm
pnpm-lock.yaml

### Unity ###
Packages/*.json

### Others ###
Website/app.js
Website/index.html
